<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" href="/css/setting.css" />
<link rel="stylesheet" href="/css/style.css" />
<title>Index Page</title>
</head>
<body>
    <header class="header">
        <div class="header__bar row">
            <h1 class="grid-6">
                <a href="/">PicTweet</a>
            </h1>
            <div class="grid-6 user_nav">
                <a class="post" href="/tweet/new">投稿する</a>
            </div>
        </div>
    </header>
    <div class="contents row" th:each="tweet : ${tweets}">
        <div class="content__post" th:style="'background-image: url(' + @{${tweet.image}} + ');'">
            <p th:text="${tweet.text}"></p>
            <span class="name" th:text="${tweet.name}"></span>
        </div>
    </div>
    <footer>
        <p>Copyright PicTweet 2017.</p>
    </footer>
</body>
</html>